@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url(../css/fonts/Gilroy-ExtraBold.otf);
}   
@font-face {
  font-family: "Gilroy";
  src: url(../css/fonts/Gilroy-Light.otf);
}
   body{
    font-family:"Gilroy";
    font-size: 14px;
    text-align: center;
    line-height: 140%;
    color: #fff;
    margin: 0;
    background: linear-gradient(80.5deg, #83A4BD 11.55%, #A5A2B3 24.51%, #BA929B 33.33%, #BD8689 39.89%, #C46F6A 47.85%, #C65857 55.62%, #BF4145 65.14%, #9C2E37 75.49%, #7A262E 84.66%, #5B1E23 95.55%, #421F23 103.99%, #2D1C22 111.11%);
  }
  h1,h2,h3,h4,h5,hr,p,pre,ul{
    margin:0;
    margin-block: 0;
  }
  a{
    color: #fff;
    text-decoration: none;
  }
  h1{
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
  }
  h2{
    font-family: "Gilroy";
  font-size: 22px;
  line-height: 130%;
  font-weight: 600;
  }
  h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
  }
  ul{
    font-size: 18px;
    line-height: 120%;
  }
ul>li{
  font-size: 14px;
}
  h4{
    font-family:"Gilroy";
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #f2f2f2;
    margin-top: 14px;
    margin-bottom: 50px;
  }

  header{
    margin-top: 15px;
    margin-left: 7px;
    max-width: 360px;
  }
  .nav{
    display: flex;
    justify-content: start;
    align-items: center;
  }.
  .logo{
    transform: scale(0.8, 0.8);
    padding-right: 20px;
  }
  label{
    margin-left: 40px;
  }
  .burger_nav {
    position: absolute;
    z-index:2;
    opacity: 1;
  }
  #burger_nav{
    display: none;
  }
  label{
    margin-left: 300px;
  }
  #nav{
    position: absolute;
    opacity: 0;
  }
  #burger_nav:checked ~ label{
    transform: translateY(-10px);
    opacity: 0.5;
  }
  
  #burger_nav:checked ~ #nav  {
    transform: translateY(70px);
    opacity: 1;
    z-index: 2;
    background-color: #F2323D;
    width: 340px;
    height: 110px;
    text-align: center;
  }
  nav{
    position: absolute;
    width: 360px;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
  }
  nav>a{
    text-decoration: none;
    line-height: 160%;
    color: #f2f2f2;
    margin-right: 20px;
  }
  nav>a:active, nav>a:hover{
      font-weight: 700;
      background-color: rgba(255, 255, 255, 0.1);
  }
  
  .nav_call{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    padding-left: 70px;
    
  }
  .nav_call a{
    font-weight: 600;
    line-height: 125%;
    margin-top: 0px;
  }
  .nav_call>a>img{
    margin-right: 9px;
  }
  .nav_call button{
    font-family: "Gilroy";
    font-size: 13px;
    line-height: 100%;
    background: none;
    color: #fff;
    border: none;
  }
  .nav_call button:hover{
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: 600;
  }
  h1{
    margin-top: 43px;
    
  }
h1>strong{
  font-family: "Gilroy-ExtraBold";
  font-weight: 700;
}
.header a{
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
	background-color:#F2323D;
	border:none;
	border-radius: 6px;
	padding: 20px 32px;
  margin-left: -8px;
}
.header a:active, .header a:hover{
  background-color:#C9000C;
  transform-duration: 0.5s ;
}
/*.header_left a:link, .header_left a:visited{
  background-color:#F2323D;
  transform-duration: 1s ;
}       */            
.header_tabl{
  width: 194px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  background-color: rgba(250, 250, 250, 0.1);
  padding-left: 31px ;
  padding-top: 34px;
  padding-bottom: 13px ;
  margin-top: -68px;
  margin-left: 61px;
  margin-bottom: 40px;
  border-radius: 12px;

}
.header_tabl>div{
  border-left: 1px solid #E9E9E9;
    padding-left: 16px;
    padding-right: 34px;
    text-align: left;
    margin-top: 7px;
    margin-bottom: 25px;
}
.header_tabl>div>p{
  font-size: 18px;
  line-height: 120%;
  color: #f2f2f2;
}
.header_tabl>div>img{
  /*transform: scale(0.7, 0.7);*/
  margin-bottom: 13px;
}
.header_img{
 position: static;
  margin-top: -29px;
  margin-left: -202px;
}
.header_img img{
  transform: scale(0.42,0.42);
}
.section01{
  background-color: rgba(250, 250, 250, 0.1);
  height: 100%;
  padding-left: 0px;
  padding-top: 40px;
  padding-bottom: 10px;
}
.section01_blocks{
  max-width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 15px;
  margin-left: 0px;
  gap: 0%;
  flex-direction: column;
  align-content: stretch;
}
.block{
  width: 47%;
  height: 40%;
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: -27px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.block>img{
  border-radius: 6px;
  transform: scale(1.0,1.0);
  width: 300px;
  height: 200px;
}
.block>ul{
  padding-left: 0px;
  padding-top: 21px;
  padding-bottom: 30px;
  list-style-type: none;
  font-size: 18px;
}
.block>ul>li{
  font-size: 14px;
  margin-left: 0px;
  margin-top: 2px; 
}
.block>div{
  padding-left: 0px;
  padding-top: 6px;
  margin-bottom: 40px;
}
.block>div>h3{
  margin-bottom: 12px;
}
.section02{
  margin-top: -237px;
  margin-left: -493px;
  margin-bottom: -245px;
}
.section02 img{
  transform: scale(0.22, 0.23);
}
.section03{
  background-color: rgba(250, 250, 250, 0.1);
  height: 100%;
  padding-left: 0px;
  padding-top: 27px;
  padding-bottom: 10px;
}
.section03_div{
  max-width: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 38px;

}
.section03_div>div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 240px;
  height: 75px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 10px 20px rgba(116, 18, 18, 0.05));
  border-radius: 6px;
  align-content: flex-start;
  margin-bottom: 11px;
}
.section03 div:first-child{
  background: #F2323D;
  box-shadow: 0px 10px 20px rgba(116, 18, 18, 0.05);
  border-radius: 6px;
}
.section03_div>div>p{
  font-size: 13px;
  line-height: 165%;
  font-weight: 400;
  text-align: left;
  padding-left: 14px;
  padding-top: 14px;
}
.section03_div>div>h2{
  font-family: "Gilroy-ExtraBold";
  font-size: 20px;
  line-height: 130%;
  padding-top: 8px;
  padding-right: 10px;
}
.section04 {
  max-width: 360px;
  display: block;
  /*justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;*/
  margin-top: 57px;
}
.section04>h2{
  margin-left: 52px;
  margin-top: 20px;
  margin-bottom: -6px;
}
.panel{
  padding-left: 40px;
  margin-right: 0px;
  padding-top: 20px;
}
.panel img{
  margin-right: 36px;
}
.gallery01, .gallery02{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.gallery01{
  gap: 0.0%;
  margin-left: 5px;
  margin-bottom: -37px;
}
.gallery01>img{
  border-radius: 6px;
  transform: scale(0.7, 0.7);
  margin-right: -65px;
}
.gallery02{
  margin-left:-61px;
  margin-top: -56px;
  margin-bottom: -37px;
}
.gallery02>img{
  transform: scale(0.5, 0.6);
  margin-right: -203px;
}
.section05{
  background-color: rgba(250, 250, 250, 0.1);
  height: 100%;
  display: block;
  padding-bottom: 65px;
}
.form{
  display: block;
    /*flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;*/
    width: 100%;
    max-width: 360px;
    height: 100%;
    border-bottom: 0px solid rgba(255, 255, 255, 0.3);
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
    gap: 1%
}
.background{
  width: 392px;
  height: 402px;
  border: 1px solid transparent;
  background-size: auto;
  border-bottom:1px solid rgba(255, 255, 255, 0.3); ;
  transform: scale(0.6, 0.6);
  margin-top: 0px;
  margin-left: 10px;
}
.form>div>h2{
font-weight: 400;
font-size: 20px;
text-align: left;
margin-top: -93px;
margin-left: 27px;
margin-bottom: 5px;
}
.form>div>h2>strong{
  font-family: "Gilroy-ExtraBold";
  font-weight: 700;
}
input[type=text], input[type=number]{
  width: 294px;
  height: 58px;
  background: rgba(255, 255, 255, 0.15);
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 6px;
margin-right: 0px;
margin-bottom: 14px;
}
input[type=text]::placeholder, input[type=number]::placeholder{
  font: 400 18px "Gilroy";
  line-height: 100%;
  color: white;
  padding-left: 30px;
  
}
input[type=submit]{
  font: 600 18px "Gilroy";
  line-height: 100%;
  color: white;
  width: 300px;
  height: 58px;
  background: #F2323D;
  border: none;
  border-radius: 6px;
}
.electrician{
  position: absolute;
  margin-top: -762px;
  margin-left: -7px;
  transform: scale(0.54,0.54);
}
#section06{
  max-width: 860px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 18px;
  margin-bottom: 0px;
}
#section06>h2{
  font-size: 20px;
  margin-left: 0px;
}
.section07{
  background-color: rgba(250, 250, 250, 0.1);
  padding-left: 0px;
  padding-top: 23px;
  margin-top: 0px;
  padding-bottom: 30px;

}
.section07>div{
  max-width: 300px;
  display: flex;
  gap: 3%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 27px;
  margin-left: 30px;
  margin-bottom: 10px;
}
details{
width: 304px;
min-height: 23px;
max-height: 108px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 10px 20px rgba(116, 18, 18, 0.05));
border-radius: 6px;
padding: 30px;
display: flex;
margin-top: -1px;
margin-bottom: 20px;

/*list-style: none;*/
}

details>summary{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
details>p{
  font-size: 12px;
}
details>summary:first-of-type{
  list-style:none;
}
details[open]>summary::after{
  margin-bottom: 12px;
  content: url(../img/Vector.svg)
}
details>summary::after{
  content: url(../img/Vector_0.svg);
}
footer{
  background: none;
  height:100%;
  padding-left: 0px;
  padding-bottom: 0px;
}
.footer{
  content: url(../img/map_mob.jpg);
}
.contacts{
display: block;
width: 360px;
height: 367px;
background-color: #FDFDFD;
border-radius: 6px;
padding-top: 40px;
padding-left: 0px;
margin-top: 0px;
}
.contacts>h2{
  font-family: "Gilroy-ExtraBold";
    font-size: 22px;
    line-height:130%;
    color:#333;
    margin-bottom: 17px;
}
.contacts>a{
  color: #4F4F4F;
  font-size: 20px;
  line-height: 160%;
  text-align: left;
  margin-right: 17px;
  
}
address{
  font-size: 16px;
  font-style: normal;
  color: #4F4F4F;
  width: 300px;
  text-align: center;
  margin-left: 30px;
  margin-top: 12px;
  

}
.social_media{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  margin-top: 37px;
  margin-left: 35px;
}
.social_media>a{
  
  margin-right: 36px ;
}
 path:hover{
fill:#C9000C;
  transform-duration: 0.5s ;
}